/* Color scheme:
#1A2E6B
#819CEE
#3865EB
#3A466B
#2D50B8 */

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 5rem; /*Footer height*/
}

body {
 font-family: 'Cardo', serif;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Oswald', sans-serif;
 text-transform: uppercase;
 background-color: inherit;
 color: #2D50B8;
}

nav {
  background-color: #1A2E6B;
  color: inherit;
  height: 100px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

nav a {
  background-color: inherit;
  color: #819CEE;
  float: right;
  padding: 2% 4% 2% 4% ;
  text-decoration: none;
}

.skillLeft {
  padding: 10px 40px;
}

.skillRight {
  text-align: right;
  padding: 10px 40px;
}
/*
footer {
  background-color: #1A2E6B;
  color: #819CEE;
  text-align: center;
}
*/
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;  /*Footer height*/
  background-color: #1A2E6B;
  color: #819CEE;
  text-align: center;
}

footer img {
  height: 2.5rem;
  filter: opacity(50%) grayscale(40%);
}

.flex-container {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  height: 5rem;
  align-items: center;
}

footer p {
  font-size: .5em;
}

nav img {
  padding: 10px 40px;
  height: 80px;
  width: 80px;
}

.flex-container-skillLeft img {
  height: 300px;
  width: 500px;
}

.flex-container-skillRight img {
  height: 300px;
  width: 500px;
}

.flex-container-skillLeft  {
  padding: 10px 40px;
  display: flex;
  flex-direction:row;
  align-items: center;
}

.flex-container-skillRight  {
  padding: 10px 40px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  text-align: right;
}

main img {
  padding: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 400px;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container-portfolio {
  padding: 10px 40px;
  text-align: center;
  flex-direction: column;
}

.flex-container-portfolio img {
  padding: 10px;
  height: 225px;
  width: 400px;
}

/* footer table {
  height: 2.5rem;
}
*/
/* footer h3 {
    border: 0.5px solid #3A466B;
    justify-content: center;
    background-color: inherit;
    color: #819CEE;
  }  */
