/* Color scheme:
#1A2E6B
#819CEE
#3865EB
#3A466B
#2D50B8 */

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 5rem; /*Footer height*/
}

body {
 font-family: 'Cardo', serif;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Oswald', sans-serif;
 text-transform: uppercase;
 background-color: inherit;
 color: #2D50B8;
}

nav {
  background-color: #1A2E6B;
  color: inherit;
  height: 100px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

nav a {
  background-color: inherit;
  color: #819CEE;
  float: right;
  padding: 2% 4% 2% 4% ;
  text-decoration: none;
}

.skillLeft {
  padding: 10px 40px;
}

.skillRight {
  text-align: right;
  padding: 10px 40px;
}
/*
footer {
  background-color: #1A2E6B;
  color: #819CEE;
  text-align: center;
}
*/
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;  /*Footer height*/
  background-color: #1A2E6B;
  color: #819CEE;
  text-align: center;
}

footer img {
  height: 2.5rem;
  filter: opacity(50%) grayscale(40%);
}

.flex-container {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  height: 5rem;
  align-items: center;
}

footer p {
  font-size: .5em;
}

/**
experience.html
*/
  .row {
      display: flex;
      flex-wrap: wrap;
  }

  .experienceLeft {
    padding: 10px 40px;
  }

  .flex-container-experience {
    padding: 10px 40px;
    text-align: right;
    flex: auto;
    flex-direction: column;
  }

/* footer table {
  height: 2.5rem;
}
*/
/* footer h3 {
    border: 0.5px solid #3A466B;
    justify-content: center;
    background-color: inherit;
    color: #819CEE;
  }  */
